* {
  background-color: black;
}

.Formulario {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.selecionar {
  color: white;
}
h1 {
  color: white;
  justify-content: center;
  display: flex;
}
